<section class="text-center container">
    <h1>Lista de carros</h1>
    <hr>
    <div style="text-align:right">
        <a href="<%= carros_novo_path%>" class="btn btn-primary">Novo</a>
    </div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>            
                <th>Nome</th>            
                <th>Modelo</th>            
                <th>Ano</th> 
                <th></th> 
            </tr>
        </thead>
        <tbody>
            <% @carros.each do |carro| %>
                <tr>
                    <td><%= carro.id%></td>            
                    <td><%= carro.nome%></td>            
                    <td><%= carro.modelo%></td>            
                    <td><%= carro.ano%></td>
                    <td style="width:270px">
                        <%= link_to "Mostrar", carros_show_path(carro.id), "class":"btn btn-primary"%>
                        <%= link_to "Editar", carros_editar_path(carro.id), "class":"btn btn-warning"%>
                        <%= link_to "Apagar", carros_apagar_path(carro.id), "class":"btn btn-danger"%>
                    </td>
                </tr>
            <% end %>         
        </tbody>
    </table>
</section>